.headingResidences {
  font-size: clamp(51px, 7.5vw, 112px);
  line-height: 0.9;
  max-width: clamp(300px, 80vw, 1070px);
}

@media (max-width: 640px) {
  .headingResidences {
    font-size: clamp(51px, 14vw, 61px);
    line-height: 1;
    max-width: clamp(300px, 80vw, 1070px);
  }
}
